@model Vidly2.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>Customer ID: @Model.Id</p>
<p>Subscribed to Newsletter? @Model.IsSubscribedToNewsletter</p>
<p>Membership Type: @Model.MembershipType.Name</p>

@if (Model.Birthdate.HasValue)
{
    <p>Birthdate: @Model.Birthdate</p>

}

